.DisabledButton, .StaticButton, .DynamicButton, .RecordingButton, .ProcessingButton {
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30%;
  user-select:none;
  background-color: #ffffff;
  color: #555555;
  font-weight: bold;
  width: 170px;
  height: 170px;
}

.RecordingButton {
  background-color: rgba(0, 200, 0, 0.7);
}

.ProcessingButton, .DisabledButton {
  background-color: #aaaaaa;
  color: #777777;
}

.StartButton {
  width: 150px;
  height: 35px;
}

.LogPanel {
  text-align: left;
  min-height: 35vh;
  overflow: scroll;
  height: 35vh;
  padding: 10px 10px 20px 10px;
  margin-bottom: 10px;
}

.SelectRobot, .SelectRobotDiv, .StartButton {
  font-size: 18px;
}

.SelectRobotDiv {
  padding: 10px;
}

.LogGif {
  height: 0px;
  width: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .DynamicButton, .RecordingButton, .ProcessingButton {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #555555;
  min-height: 40vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  user-select:none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
