.App {
  text-align: center;
}

.StaticButton {
  width: 150px;
  height: 150px;
  border-radius: 20%;
  user-select:none;
}

.DynamicButton, .RecordingButton {
  width: 190px;
  height: 190px;
  border-radius: 30%;
  user-select:none;
}

.RecordingButton {
  width: 200px;
  height: 200px;
  border-radius: 40%;
  background-color: rgba(157, 238, 91, 0.7);
}

.StartButton {
  width: 120px;
  height: 30px;
}

.LogPanel {
  text-align: left;
  min-height: 35vh;
  overflow: scroll;
  height: 35vh;
}

.LogGif {
  height: 0px;
  width: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .DynamicButton, .RecordingButton {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
